body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

h1{
    margin: 0;
    padding-left: 0;
    text-align: left;
    font-size: 32px;
    padding: 20px;
    background-color: rgb(128, 25, 183);
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.form{
    padding: 15px;
    border: 4px solid rgb(217, 157, 249);
    box-shadow: 0 0 10px 5px rgb(221, 187, 240);
    border-radius: 10px;
    width: fit-content;
    margin-left: 30%;
    margin-right: 30%;
    max-width: 40%;
    width: 100vw;
}

table{
    margin-left: 30%;
    margin-right: 30%;
    margin: 0 auto;
}

#word_input{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 35px;
    font-size: 28px;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.label{
    text-align: right;
}

.label label{
    font-size: 16px;
}

#next_button{
    background-color: #79dc55;
    border-radius: 6px;
    border: 1px solid #006519;            /*border style*/
    text-decoration: none;                  /*removes the underlines that come with href*/
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin: 10px auto;
    padding: 6px 10px;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

#next_button:hover{
    background-color: rgb(6, 145, 6);
}
